<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel = "tests" name="Suite">
  <test thread-count="5" name="Login">
    <classes>
      <class name="swan.testscript.LogIntoSwan"/> 
    </classes>
  </test> <!-- Test -->
  
   <test thread-count="5" name="Logout">
    <classes>  
      <class name="swan.testscript.LogOutSwan"/>
    </classes>
  </test> <!-- Test -->
  
   <test thread-count="5" name="CreateCampaign">
    <classes>
      <class name="swan.testscript.Campaign"/>
    </classes>
  </test> <!-- Test -->
 
  
  
  
  
</suite> <!-- Suite -->
